<div class="format-container">
    <div class="format-double-tile">
        <div class="format-report-main-header">Change In Registered Name</div>
        <div class="format-report-container">
            <div class="format-border-line"></div>
            <div class="format-report-inner-details">
                <div class="format-report-name">Application Change of Name</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/change-in-registered-name/Application-Change-of-Name.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.12 MB</div>
                </div>
            </div>

            <div class="format-report-inner-details">
                <div class="format-report-name">Recording Change Of Name</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/change-in-registered-name/Recording-Change-of-Name.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.12 MB</div>
                </div>
            </div>


        </div>

        <div class="format-border-line-mobile"></div>

    </div>

    <div class="format-single-tile">
        <div class="format-report-main-header">Correction of name</div>
        <div class="format-report-container">
            <div class="format-border-line"></div>
            <div class="format-report-inner-details">
                <div class="format-report-name">Application Correction Of Name</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/correction-of-name/Application-Correction-of-name.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.12 MB</div>
                </div>
            </div>


        </div>

        <div class="format-border-line-mobile"></div>

    </div>




</div>
<div class="format-container">
    <div class="format-single-tile">
        <div class="format-report-main-header">Dividend Mandate Form</div>
        <div class="format-report-container">
            <div class="format-border-line"></div>
            <div class="format-report-inner-details">
                <div class="format-report-name">Dividend Mandate Form</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/dividend-mandate-form/Dividend-Mandate-Form.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.15 MB</div>
                </div>
            </div>


        </div>

        <div class="format-border-line-mobile"></div>

    </div>

    <div class="format-single-tile">
        <div class="format-report-main-header">Dividend Revalidation</div>
        <div class="format-report-container">
            <div class="format-border-line"></div>
            <div class="format-report-inner-details">
                <div class="format-report-name">Dividend Revalidation Form</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/dividend-revalidation/Dividend-Revalidation-Form.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.12 MB</div>
                </div>
            </div>


        </div>

        <div class="format-border-line-mobile"></div>

    </div>
</div>


<div class="format-container">


    <div class="format-double-tile">
        <div class="format-report-main-header">Duplicate Dividend Warrant</div>
        <div class="format-report-container">
            <div class="format-border-line"></div>
            <div class="format-report-inner-details">
                <div class="format-report-name">Application Duplicate Dividend Warrants</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/duplicate-dividend-warrant/application-duplicate-dividend-warrants.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.13 MB</div>
                </div>
            </div>

            <div class="format-report-inner-details">
                <div class="format-report-name">Indemnity Bond</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/duplicate-dividend-warrant/Indemnity-Bond-new.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.16 MB</div>
                </div>
            </div>


        </div>

        <div class="format-border-line-mobile"></div>

    </div>
    <div class="format-single-tile">
        <div class="format-report-main-header">Name Deletion</div>
        <div class="format-report-container">
            <div class="format-border-line"></div>
            <div class="format-report-inner-details">
                <div class="format-report-name">Name Deletion Form</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/name-deletion/Name-Deletion-Form.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.46 MB</div>
                </div>
            </div>


        </div>

        <div class="format-border-line-mobile"></div>

    </div>


</div>


<div class="format-container">
    <div class="format-double-tile">
        <div class="format-report-main-header">Registration of Power of Attorney</div>
        <div class="format-report-container">
            <div class="format-border-line"></div>
            <div class="format-report-inner-details">
                <div class="format-report-name">Application Registration of Power of Attroney</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/registration-of-power-of-attorney/Application-Registration-of-Power-of-Attroney.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.13 MB</div>
                </div>
            </div>

            <div class="format-report-inner-details">
                <div class="format-report-name">Specimen Signature Form</div>
                <div class="format-report-link">
                    <div class="format-report-download"><img
                            src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-icon.png"><a
                            href="/content/dam/hero-aem-website/in/investors/shareholder-resources/downloads/formats/registration-of-power-of-attorney/Specimen-Signature-Form.docx">
                            Download </a>
                    </div>
                    <div class="format-report-size"> 0.12 MB</div>
                </div>
            </div>


        </div>

        <div class="format-border-line-mobile"></div>

    </div>
</div>