<div class="specification-wrapper">
    <h3 class="common-h3 h2-heading-std text-to-uppercase" data-sly-test="${properties.specificationstext1}">${properties.specificationstext1}</h3>
    <div class="specification-div common-tabs-section specifications-tabs-section"
        data-sly-use.tabitems="${'/apps/hero-aem-website/utils/multifieldhelper.js' @ multifieldName='tabitems'}">
        <div class="tab-wrapper">
            <ul class="nav nav-tabs common-tabs-main cust-common-tabs-main" data-sly-list="${tabitems}">
                <li class="nav-item">
                    <a data-toggle="tab" href="#product${item.path.hashCode}"  aa-data-attr="track_cta"
                        class="nav-link${itemList.first ? ' active' : ''} ">
                        <div class="stright-d">
                            <div class="nav-link-img">
                                <img loading="lazy" src="${item.properties.icon}" alt="${item.properties.title}"
                                    class="img-fluid nav-link-img active" />
                                <img loading="lazy" src="${item.properties.inactiveicon}" alt="${item.properties.title}"
                                    class="img-fluid nav-link-img inactive" />
                            </div>
                            <p class="nav-link-p b1-heavy-text-std">${item.properties.title}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bike-product-wrapper specfication-wrapper">
            <div class="tab-content" data-sly-list="${tabitems}">
                <div id="product${item.path.hashCode}" class="tab-pane fade show${itemList.first ? ' active' : ''}"
                    data-sly-resource="${['tab',itemList.index] @ join='-' , resourceType='wcm/foundation/components/responsivegrid'}">
                </div>
            </div>
            <div class="slide-1-content">
                <div class="slide-1-cta d-flex align-content-center"
                    data-sly-resource="${'downloadbrochure' @resourceType='hero-aem-website/components/content/downloadbrochure'}">
                </div>
                <div class="img-fluid share-icon"
                    data-sly-resource="${'shareicon' @resourceType='hero-aem-website/components/content/shareicon'}">
                </div>
            </div>
        </div>
    </div>
</div>