<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'hero.editcomponent' @ format=[component.title], i18n}
</p>
<div class="position">
    <marquee width="100%" direction="left" behavior="scroll" scrollamount="15">
        <sly data-sly-test.configuration="${caconfig['com.hero.aem.core.services.caconfigs.PageCaConfig']}"
            data-sly-use.listUse="${'/apps/hero-aem-website/utils/searchutils.js' @ path=configuration.siteRoot}"
            data-sly-list="${listUse}">
            <span class="font-properties">${item['jcr:content/pageTitle'] || item['jcr:content/jcr:title']} - </span>
            <sly data-sly-use.nodepath="${'/apps/hero-aem-website/utils/replaceHelper.js' @ path=item.name}" />
            <sly data-sly-test.state="${request.requestPathInfo.selectors[0]}"
                data-sly-test.city="${request.requestPathInfo.selectors[1]}"
                data-sly-test.parentPath="${['/content/hmc/prices/in',nodepath,state,city] @ join='/'}"
                data-sly-use.listUse1="${'/apps/hero-aem-website/utils/getdropdownvalues.js' @ parentPath=parentPath}">
                <sly data-sly-list.price="${listUse1}">
                    <span class="font-properties font-weight-500">
                        ${price.properties.variant_desc}
                    </span>
                    <span class="font-properties font-weight-500"
                        data-sly-set.pageconfig="${caconfig['com.hero.aem.core.services.caconfigs.PageCaConfig']}">
                        (${pageconfig.currencyUnit} ${price.properties.ex_showroom}) |
                    </span>
                </sly>
            </sly>
        </sly>
        </sly>
    </marquee>
</div>