.format-container {
    display: flex;
    width: 100%;
}

.format-container .format-single-tile {
    width: 33%;
}

.format-container .format-double-tile {
    width: 66%;
}

.format-container .format-report-main-header {
    font-family: var(--font-tstar-regular);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.21;
}

.format-container .format-report-container {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}

.format-container .format-report-container .format-border-line {
    border-left: 1px solid;
    border-color: #EE2326;
    height: 75px;
}

.format-container .format-report-container .format-report-inner-details {
    padding-left: 20px;
    width: 100%;
}

.format-container .format-report-container .format-report-inner-details .format-report-name {
    font-family: var(--font-tstar-bold);
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #303030;
}

.format-container .format-report-container .format-report-inner-details .format-report-link {
    display: flex;
    margin-top: 15px;
}

.format-container .format-report-container .format-report-inner-details .format-report-link .format-report-download {
    display: flex;
}

.format-container .format-report-container .format-report-inner-details .format-report-link .format-report-download img {
    width: 20px;
    margin-right: 5px;
}

.format-container .format-report-container .format-report-inner-details .format-report-link .format-report-download a {
    font-family: var(--font-tstar-regular);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    color: #009FDA;
    text-decoration: none;
}

.format-container .format-report-container .format-report-inner-details .format-report-link .format-report-size {
    font-family: var(--font-tstar-regular);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    color: #A5A5A5;
    padding-left: 5px;
}

.format-border-line-mobile {
    display: none;
}

@media (max-width: 800px) {
    .format-container {
        flex-direction: column;
        padding: 10px;
    }

    .format-container .format-single-tile {
        width: 100%;
    }

    .format-container .format-double-tile {
        width: 100%;
    }

    .format-container .format-report-container {
        flex-direction: column;
    }

    .format-container .format-report-container .format-border-line {
        display: none;
    }

    .format-border-line-mobile {
        display: block;
        width: 100%;
        margin: 20px 0;
        border-bottom: 2px solid;
        border-color: #EE2326;
    }

    .format-container .format-report-container .format-report-inner-details {
        padding-left: 0;
        display: flex;
        padding-bottom: 25px;
        width: 70%;
    }

    .format-container .format-report-container .format-report-inner-details .format-report-link {
        flex-direction: column;
        position: absolute;
        right: 0;
        padding-right: 20px;
    }

    .format-container .format-report-container .format-report-inner-details .format-report-name {
        padding-top: 10px;
    }

    .format-container .format-report-container .format-report-inner-details .format-report-link .format-report-size {
        display: flex;
        justify-content: end;
        width: 70%;
    }
}