<sly
  data-sly-test="${(wcmmode.edit || wcmmode.design) && !listUse }"
  class="author-note"
>
  ${'Edit {0} Component' @ format=[component.title], i18n}
</sly>
<sly data-sly-test="${properties.productvariation=='men'}">
  <section
    id="${properties.productmenID}"
    class="merchandise-product-container"
  >
    <div class="merchandise-content">
      <img src="${properties.menbigimage}" class="productbigimg" />
      <div class="content">
        <div class="title-container">
          <h3 class="title">${properties.mensectionTitle}</h3>
          <span class="merchandise-description" id="men-merchandise-desc">${properties.mendesc @ context='html'}</span>
        </div>
<div class="know-more-btn-wrapper">
<button class="know-more" id="show-desc-men">Know More</button>
</div>
        <sly
          data-sly-use.listUse="${'/apps/hero-aem-website/utils/multifieldhelper.js' @ multifieldName='menmultiImages'}"
        >
          <ul data-sly-list="${listUse}" class="products-list">
            <li class="product-list-item">
              <a href="${item.properties.menimglink}" target="_blank"
                ><img src="${item.properties.menminiImage}"
              /></a>
            </li>
          </ul>
        </sly>
        <a href="${properties.menbuttonUrl}" class="product-explore" target="_blank"
          >${properties.menbuttonLabel}</a
        >
      </div>
    </div>
  </section>
</sly>
<sly data-sly-test="${properties.productvariation=='women'}">
  <section
    id="${properties.productwomenID}"
    class="merchandise-product-container"
  >
    <div class="merchandise-content women-merchandise-content">
      <img src="${properties.womenbigimage}" class="productbigimg" />
      <div class="content">
        <div class="title-container">
          <h3 class="title">${properties.womensectionTitle}</h3>
          <span class="merchandise-description" id="women-merchandise-desc">${properties.womendesc @ context='html'}</span>
        </div>
<div class="know-more-btn-wrapper">
<button class="know-more" id="show-desc-women">Know More</button>
</div>
        <sly
          data-sly-use.listUse="${'/apps/hero-aem-website/utils/multifieldhelper.js' @ multifieldName='womenmultiImages'}"
        >
          <ul data-sly-list="${listUse}" class="products-list">
            <li class="product-list-item">
              <a href="${item.properties.womenimglink}" target="_blank"
                ><img src="${item.properties.womenminiImage}"
              /></a>
            </li>
          </ul>
        </sly>
        <a href="${properties.womenbuttonUrl}" class="product-explore women-explore-collection" target="_blank"
          >${properties.womenbuttonLabel}</a
        >
      </div>
    </div>
  </section>
</sly>
