.quick-view-modal .modal-dialog {
  max-width: 1366px;
}
.quick-view-modal .modal-dialog .modal-content {
  background-color: #0c0c0c;
  color: #ffffff;
}
.quick-view-modal .modal-dialog .modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  color: #ffffff;
  opacity: 0.9;
  font-size: 35px;
}
.quick-view-modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner {
  overflow: hidden;
  position: relative;
  padding-bottom: 75px;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info {
  max-width: 41%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 29px);
  z-index: 2;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .content {
  z-index: 3;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info:before {
  content: "";
  position: absolute;
  top: 0;
  left: -55px;
  width: calc(100% + 70px);
  height: 100%;
  z-index: 2;
  background-color: rgba(23, 23, 23, 0.8);
  transform: skewX(-10deg);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: -55px;
  width: calc(100% + 140px);
  height: calc(100% + 29px);
  background-color: rgba(75, 75, 75, 0.6);
  z-index: 1;
  transform: skewX(-10deg);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 {
  color: var(--bg-color-danger);
  font-family: var(--font-tstar-heavy);
  font-size: var(--font-size58);
  font-style: italic;
  text-transform: uppercase;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info p {
  font-size: var(--font-size18);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info p.mh-100 {
  min-height: 100px;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: 10px;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  font-size: var(--font-size17);
  margin-top: 40px;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon {
  margin-bottom: 5px;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon img {
  display: inline-block;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li p {
  max-width: 150px;
  margin: 0 auto;
  font-family: var(--font-montserrat-regular);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li {
  padding: 0 28px;
  border-left: 1px solid #ffffff;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li:first-child {
  border-left: 0;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li span {
  font-size: var(--font-size10);
  text-transform: uppercase;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li h4 {
  font-size: var(--font-size14);
  font-family: var(--font-tstar-bold);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  max-width: 60%;
  margin-left: auto;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 29px;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .display-bike .explore-360-view {
  width: 650px !important;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .display-bike .explore-360-view img {
  max-width: 100%;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants {
  justify-content: center;
  border-bottom: 0;
  margin: 0 0 30px;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .nav-link {
  padding: 0px;
  transform: skewX(-43deg);
  width: 26px;
  overflow: hidden;
  border-radius: 0px;
  margin: 0 3px;
  height: 12px;
  border: 0.2px solid #000;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .nav-link img {
  display: block;
  width: 100%;
  transform: skew(35deg) scale(2);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .nav-link.active {
  background-color: transparent;
  border-color: transparent;
  border: 1px solid #303030;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector {
  border: 0;
  margin: 0 5px;
  border-radius: 0;
  transform: skew(-20deg);
  padding: 4px 15px;
  border: 1px solid transparent;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector .sub-variant-selector {
  margin: 0 -1px;
  border-radius: 0;
  transform: skew(-20deg);
  padding: 4px 15px;
  border: 1px solid transparent;
  background-color: red;
  display: inline-block;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.red {
  background: #e3090f;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.black {
  background: #000000;
  border-color: rgba(255, 255, 255, 0.2);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.blue {
  background: #0083de;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.yellow {
  background: #e9a400;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.white {
  background: #ffffff;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.matte-black {
  background: #141414;
  border-color: rgba(255, 255, 255, 0.2);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.grey {
  background: #818181;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.red-2 {
  background: #ca2932;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.blue-2 {
  background: #0081be;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.grey {
  background: #818181;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.purple {
  background: #936188;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.brown {
  background: #954535;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.silver {
  background: #dfdbd8;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.blue-white {
  background: linear-gradient(254.41deg, #ffffff -3.74%, #2196f3 100%);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.blue-black {
  background: linear-gradient(225deg, #000000 0%, #03a9f4 100%);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.red-black {
  background: linear-gradient(225deg, #0a0a0a 0%, #ff0303 100%);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.red-white {
  background: linear-gradient(225deg, #ffffff 0%, #ff0303 100%);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.active {
  border: 1px solid #ffffff;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.red-3 {
  background: #c02023;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.yellow-1 {
  background: #ded356;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.yellow-2 {
  background: #dcad60;
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.light-brown {
  background: linear-gradient(to right, #efc785, #dcad60);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.purple-black {
  background: linear-gradient(to right, #6c56a4, #262625);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.grey-black {
  background: linear-gradient(to right, #848693, #262625);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.cyan-black {
  background: linear-gradient(to right, #059091, #262625);
}
.quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.red-black {
  background: linear-gradient(to right, #ee292e, #262625);
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content {
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .close {
  color: var(--bg-color-black);
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner {
  display: flex;
  padding-bottom: 0;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info {
  position: static;
  flex: 0 0 40%;
  max-width: 40%;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .content {
  color: var(--bg-color-black);
  font-weight: 300;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info:before {
  content: none;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info:after {
  content: none;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 {
  font-size: var(--font-size48);
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info p {
  font-size: var(--font-size18);
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: auto;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon {
  margin-bottom: 5px;
  margin-right: 20px;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon img {
  display: inline-block;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li p {
  max-width: 250px;
  text-align: left;
  margin: 0;
  font-family: var(--font-montserrat-bold);
  font-size: var(--font-size18);
  color: var(--bg-color-black);
  text-transform: uppercase;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list {
  margin-top: 20px;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li {
  padding: 0 15px;
  border-left: 1px solid rgba(9, 9, 9, 0.5);
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li:first-child {
  border-left: 0;
  padding-left: 0;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li span {
  font-size: var(--font-size14);
  text-transform: uppercase;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li h4 {
  font-size: var(--font-size26);
  font-family: var(--font-tstar-bold);
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  max-width: 60%;
  flex: 0 0 60%;
  padding-right: 0px;
  position: relative;
  background: url(../images/categories/scooters/scooter-variants/popup-bg/pleasure.png) no-repeat center right;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 60%;
  background-color: #f5f5f5;
  height: 100%;
  z-index: 1;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .display-bike {
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants {
  position: relative;
  z-index: 2;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.active {
  border-color: #000000;
}
.quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .actions {
  position: relative;
  z-index: 2;
}
.quick-view-modal.quick-view-modal-light#MaestroEdge110Modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/scooters/scooter-variants/popup-bg/mastero-110.png);
}
.quick-view-modal.quick-view-modal-light#MaestroEdge125Modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/scooters/scooter-variants/popup-bg/mastero-125.png);
}
.quick-view-modal.quick-view-modal-light#Destini125Modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/scooters/scooter-variants/popup-bg/destini-125.png);
}
.quick-view-modal.quick-view-modal-light#Destini125XtecModal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/scooters/scooter-variants/popup-bg/destini-125-xtec.png);
}
.quick-view-modal.quick-view-modal-light#SplendorBlackAccent .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/SPLENDOR-BLACK-ACCENT-bg.png);
}
.quick-view-modal.quick-view-modal-light#SplendorPlus .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/SPLENDOR-PLUS-bg.png);
}
.quick-view-modal.quick-view-modal-light#HfDeluxe .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/HF-Deluxe-bg.png);
}
.quick-view-modal.quick-view-modal-light#HfHundred .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/HF-100-bg.png);
}
.quick-view-modal.quick-view-modal-light#SplendorISmart .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/Splendor-iSmart-bg.png);
}
.quick-view-modal.quick-view-modal-light#SplendorXtec .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/Splendor-XTEC-bg.png);
}
.quick-view-modal.quick-view-modal-light#Glamour .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/glamour.png);
}
.quick-view-modal.quick-view-modal-light#SuperSplendor .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/super-splendor.png);
}
.quick-view-modal.quick-view-modal-light#NewGlamour .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/new-glamour.png);
}
.quick-view-modal.quick-view-modal-light#GlamourXtec .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/glamour-xtec.png);
}
.quick-view-modal.quick-view-modal-light#PassionPro .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/passion-pro.png);
}
.quick-view-modal.quick-view-modal-light#PassionXtec .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  background-image: url(../images/categories/bikes/specification-bike/passion-xtec.png);
}
.quick-view-modal.light-black .modal-dialog .modal-content {
  background-color: #646464;
  border: 0;
  border-radius: 0;
}
.quick-view-modal.light-black .modal-dialog .modal-content .close {
  color: var(--bg-color-white);
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner {
  display: flex;
  padding-bottom: 0;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info {
  position: static;
  flex: 0 0 40%;
  max-width: 40%;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .content {
  color: var(--bg-color-white);
  font-weight: 300;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info:before {
  content: none;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info:after {
  content: none;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 {
  font-size: var(--font-size48);
  color: var(--text-color-white);
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info p {
  font-size: var(--font-size18);
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: auto;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon {
  margin-bottom: 5px;
  margin-right: 20px;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon img {
  display: inline-block;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li p {
  max-width: 250px;
  text-align: left;
  margin: 0;
  font-family: var(--font-montserrat-bold);
  font-size: var(--font-size18);
  color: var(--text-color-white);
  text-transform: uppercase;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list {
  margin-top: 20px;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li {
  padding: 0 15px;
  border-left: 1px solid #ffffff;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li:first-child {
  border-left: 0;
  padding-left: 0;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li span {
  font-size: var(--font-size14);
  text-transform: uppercase;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li h4 {
  font-size: var(--font-size26);
  font-family: var(--font-tstar-bold);
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
  max-width: 60%;
  flex: 0 0 60%;
  padding-right: 0px;
  position: relative;
  background: url(../images/categories/scooters/scooter-variants/popup-bg/pleasure.png) no-repeat center right;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 60%;
  background-color: #f5f5f5;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .display-bike {
  position: relative;
  z-index: 2;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants {
  position: relative;
  z-index: 2;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.active {
  border-color: #000000;
}
.quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .actions {
  position: relative;
  z-index: 2;
}

.casesensitive .specifications-list p {
  text-transform: revert !important;
}

@media (max-width: 1199px) {
  .quick-view-modal .modal-dialog .modal-content .modal-body {
    padding: 0;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner {
    padding-bottom: 0;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info {
    max-width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 29px);
    z-index: 2;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 {
    color: var(--bg-color-danger);
    font-family: var(--font-tstar-heavy);
    font-size: var(--font-size35);
    font-style: italic;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info p {
    font-size: var(--font-size14);
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    font-size: var(--font-size13);
    font-weight: 600;
    margin-top: 40px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon {
    margin-bottom: 5px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon img {
    display: inline-block;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li p {
    max-width: 150px;
    margin: 0 auto;
    font-family: var(--font-montserrat-regular);
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list {
    display: flex;
    align-items: center;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li {
    padding: 0 25px;
    border-left: 1px solid #ffffff;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li:first-child {
    padding-left: 0;
    border-left: 0;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li span {
    font-size: var(--font-size10);
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li h4 {
    font-size: var(--font-size14);
    font-family: var(--font-tstar-bold);
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
    max-width: 60%;
    margin-left: auto;
    padding-right: 50px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .display-bike img {
    max-width: 100%;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants {
    justify-content: center;
    border-bottom: 0;
    margin: 30px 0;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector {
    border: 0;
    border-radius: 0;
    padding: 4px 15px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.active {
    background-color: red;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner {
    display: flex;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list {
    margin-top: 20px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li h4 {
    font-size: var(--font-size20);
  }
}
@media (max-width: 991px) {
  .quick-view-modal .modal-dialog {
    max-width: 100%;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body {
    background: url(../images/categories/popup-bg.png) no-repeat center;
    background-size: cover;
    padding-bottom: 30px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner {
    min-height: auto;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info {
    max-width: 100%;
    flex: 0 0 100%;
    position: static;
    height: auto;
    z-index: 2;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .content {
    z-index: 3;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info:before {
    content: none;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info:after {
    content: none;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 {
    font-size: var(--font-size22);
    margin-bottom: 20px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 + p {
    display: none;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list {
    position: relative;
    max-width: 100px;
    flex: 0 0 100px;
    padding-bottom: 40px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list:before {
    content: "";
    position: absolute;
    height: 100%;
    z-index: 2;
    background-color: rgba(23, 23, 23, 0.8);
    transform: skewX(-10deg);
    top: -15px;
    left: -55px;
    width: calc(100% + 90px);
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list:after {
    content: "";
    position: absolute;
    top: 0;
    left: -55px;
    background-color: rgba(75, 75, 75, 0.6);
    z-index: 1;
    transform: skewX(-10deg);
    width: calc(100% + 110px);
    height: 100%;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 3;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon {
    margin-bottom: 5px;
    max-width: 25px;
    margin: 0 auto;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon img {
    max-width: 100%;
    display: inline-block;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li p {
    max-width: 68px;
    font-size: 8px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list {
    justify-content: center;
    margin-bottom: 20px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li {
    padding: 0 25px;
    border-left: 1px solid #ffffff;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .mobile-specification-and-bike-information {
    position: relative;
    display: flex;
    align-items: center;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
    max-width: 100%;
    margin-left: auto;
    padding-right: 0px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0px;
    text-align: center;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .display-bike .explore-360-view {
    width: auto !important;
    height: auto !important;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants {
    justify-content: center;
    border-bottom: 0;
    margin: 15px 0;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector {
    border: 0;
    margin: 0 5px;
    border-radius: 0;
    transform: skew(-20deg);
    padding: 4px 15px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.active {
    border: 1px solid #ffffff;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.white {
    background: linear-gradient(254.41deg, #ffffff -3.74%, #c5c5c5 100%);
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.red {
    background: linear-gradient(225deg, #ed1c24 0%, #700004 100%);
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector.black {
    background: linear-gradient(225deg, #817676 0%, #000000 100%);
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body {
    background-image: none;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner {
    flex-wrap: wrap;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 {
    font-size: var(--font-size38);
    margin-bottom: 10px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 + p {
    font-size: var(--font-size16);
    display: block;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list {
    margin: 10px 0 15px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li {
    flex-grow: 1;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: auto;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list::before {
    content: none;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list::after {
    background: rgba(245, 245, 245, 0.6);
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon {
    margin: 0;
    margin-bottom: 5px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon img {
    display: inline-block;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li p {
    max-width: 150px;
    text-align: left;
    margin: 0;
    font-family: var(--font-montserrat-regular);
    font-size: var(--font-size14);
    text-align: center;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
    max-width: calc(100% - 150px);
    flex: 0 0 calc(100% - 150px);
    background: none !important;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information::before {
    content: none;
  }
  .quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list::before {
    content: none;
  }
  .quick-view-modal.light-black .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list::after {
    background: rgba(245, 245, 245, 0.1);
  }
}
@media (max-width: 767px) {
  .quick-view-modal .modal-dialog {
    max-width: 100%;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info p.mh-100 {
    min-height: 0px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .content {
    padding: 40px 10px 10px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li {
    padding: 0 15px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list {
    max-width: 70px;
    flex: 0 0 70px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
    margin-left: -50px;
    width: 100%;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .display-bike .explore-360-view {
    width: 360px !important;
    height: auto !important;
    margin: 0 auto;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants {
    margin-bottom: 16px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .bike-variants .variant-selector {
    margin: 0 2px;
    padding: 2px 8px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .actions .btn {
    font-size: var(--font-size14);
    padding: 5px 25px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 {
    font-size: var(--font-size22);
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info h2 + p {
    font-size: var(--font-size14);
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li {
    flex-grow: 1;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li span {
    font-size: var(--font-size10);
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .features-list li h4 {
    font-size: var(--font-size14);
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list {
    padding-bottom: 20px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list::after {
    transform: skewX(-5deg);
    width: calc(100% + 75px);
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li {
    margin-top: 15px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon {
    margin: 0;
    margin-bottom: 5px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li .icon img {
    display: inline-block;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-info .specifications-list li p {
    font-size: 8px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information {
    max-width: calc(100% - 80px);
    flex: 0 0 calc(100% - 80px);
    margin-left: 0;
    background: none !important;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information::before {
    content: none;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-variants {
    margin-top: 30px;
  }
  .quick-view-modal.quick-view-modal-light .modal-dialog .modal-content .modal-body .popup-inner .bike-variants .variant-selector {
    padding: 3px 10px;
  }
}
@media (max-width: 479px) {
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .display-bike .explore-360-view {
    width: 325px !important;
    height: auto !important;
    margin-left: -25px;
  }
  .quick-view-modal .modal-dialog .modal-content .modal-body .popup-inner .bike-display-information .explore-360-view.varient1.sports {
    margin-left: 10px !important;
  }
}
