<div class="quarterly-call-container-fluid">
    <div class="quarterly-call-container">
        <div class="quarterly-main-heading">${properties.incallshead @ context='html'}</div>
        <div class="d-flex quarterly-middle-container">
            <div class="quarterly-image-wrapper">
                <img class="quarterly-desktop-img" src="${properties.callImage}" width="100%" height="100%"
                    alt="${properties.callimagealt}">
                <img class="quarterly-mobile-img" src="${properties.callmobImage}" width="100%" height="100%"
                    alt="${properties.callimagealt}">
            </div>
            <div class="d-flex quarterly-content-wrap">
                <div class="quarterly-content-heading">${properties.calldesc @ context='html'}</div>
                    <div class="quarterly-report-container" data-category="${properties.categoryAttr}">
                        <div class="quarterly-reports-wrapper">
                            <div class="reports-quarterly-heading b1-bold-text-std">Call Recording For Q4-FY22</div>
                            <div class="quarterly-file-wrapper">
                                <div class="report-size-text">05 July 2022</div>
                                <div class="quarter-audio-wrapper-image" data-toggle="modal" data-target="#audioModal"><img
                                    src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/audio.png"
                                    alt="audio" />
                                    <span class="audio-label-text">Audio Clip</span>
                                    <div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">

                                                  <audio src="/content/dam/hero-aem-website/in/investors/call-recordings/HMCL-Q1-FY19.mp3" id="audioFile">
                                                    Audio is not supported.
                                                </audio>
                                                <div class="music_volume">
                                                    <div class="quarterly-clickable-container">
                                                        <div id="btnPlay"><img  class="music-pause-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_pause.png"></div>
                                                        <div id="btnPause"><img  class="music-pause-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_play.svg"></div>
                                                        
                                                        <label id="lblTime" class="label-text">00:00</label>
                                                        <input type="range" step="any" id="seekbar">
                                                        <label id="lblTimeDuration" class="label-text"></label>

                                                        <div id="btnMute"><img  class="music-volume-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_volume.svg"></div>
                                                    </div>

                                                    <div id="btnClose" data-dismiss="modal" ><img  class="music-close-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_close.svg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="d-flex align-items-center" href="/content/dam/hero-aem-website/in/investors/call-recordings/HMCL-Q1-FY19.mp3" target="_blank" download>
                                    <div class="quarterly-download-wrapper">
                                        <img class="quarterly-download-image-toolkit" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-svg.svg">
                                    </div>
                                    <div class="single-reports-quarter-download">Download</div>
                                </a>
                            </div>
                        </div>

                        <div class="quarterly-reports-wrapper">
                            <div class="reports-quarterly-heading b1-bold-text-std">Call Recording For Q3-FY22</div>
                            <div class="quarterly-file-wrapper">
                                <div class="report-size-text">05 July 2022</div>
                                <div class="quarter-audio-wrapper-image" data-toggle="modal" data-target="#audioModal"><img
                                    src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/audio.png"
                                    alt="audio" />
                                    <span class="audio-label-text">Audio Clip</span>
                                    <div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">

                                                  <audio src="/content/dam/hero-aem-website/in/investors/call-recordings/HMCL-Q1-FY19.mp3" id="audioFile">
                                                    Audio is not supported.
                                                </audio>
                                                <div class="music_volume">
                                                    <div class="quarterly-clickable-container">
                                                        <div id="btnPlay"><img  class="music-pause-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_pause.png"></div>
                                                        <div id="btnPause"><img  class="music-pause-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_play.svg"></div>
                                                        
                                                        <label id="lblTime" class="label-text">00:00</label>
                                                        <input type="range" step="any" id="seekbar">
                                                        <label id="lblTimeDuration" class="label-text"></label>

                                                        <div id="btnMute"><img  class="music-volume-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_volume.svg"></div>
                                                    </div>

                                                    <div id="btnClose" data-dismiss="modal" ><img  class="music-close-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_close.svg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="d-flex align-items-center" href="/content/dam/hero-aem-website/in/investors/call-recordings/HMCL-Q1-FY19.mp3" target="_blank" download>
                                    <div class="quarterly-download-wrapper">
                                        <img class="quarterly-download-image-toolkit" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-svg.svg">
                                    </div>
                                    <div class="single-reports-quarter-download">Download</div>
                                </a>
                            </div>
                        </div>

                        <div class="quarterly-reports-wrapper">
                            <div class="reports-quarterly-heading b1-bold-text-std">Call Recording For Q2-FY22</div>
                            <div class="quarterly-file-wrapper">
                                <div class="report-size-text">05 July 2022</div>
                                <div class="quarter-audio-wrapper-image" data-toggle="modal" data-target="#audioModal"><img
                                    src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/audio.png"
                                    alt="audio" />
                                    <span class="audio-label-text">Audio Clip</span>
                                    <div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">

                                                  <audio src="/content/dam/hero-aem-website/in/investors/call-recordings/HMCL-Q1-FY19.mp3" id="audioFile">
                                                    Audio is not supported.
                                                </audio>
                                                <div class="music_volume">
                                                    <div class="quarterly-clickable-container">
                                                        <div id="btnPlay"><img  class="music-pause-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_pause.png"></div>
                                                        <div id="btnPause"><img  class="music-pause-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_play.svg"></div>
                                                        
                                                        <label id="lblTime" class="label-text">00:00</label>
                                                        <input type="range" step="any" id="seekbar">
                                                        <label id="lblTimeDuration" class="label-text"></label>

                                                        <div id="btnMute"><img  class="music-volume-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_volume.svg"></div>
                                                    </div>

                                                    <div id="btnClose" data-dismiss="modal" ><img  class="music-close-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_close.svg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="d-flex align-items-center" href="/content/dam/hero-aem-website/in/investors/call-recordings/HMCL-Q1-FY19.mp3" target="_blank" download>
                                    <div class="quarterly-download-wrapper">
                                        <img class="quarterly-download-image-toolkit" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-svg.svg">
                                    </div>
                                    <div class="single-reports-quarter-download">Download</div>
                                </a>
                            </div>
                        </div>

                        <div class="quarterly-reports-wrapper">
                            <div class="reports-quarterly-heading b1-bold-text-std">Call Recording For Q1-FY22</div>
                            <div class="quarterly-file-wrapper">
                                <div class="report-size-text">05 July 2022</div>
                                <div class="quarter-audio-wrapper-image" data-toggle="modal" data-target="#audioModal"><img
                                    src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/audio.png"
                                    alt="audio" />
                                    <span class="audio-label-text">Audio Clip</span>
                                    <div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">

                                                  <audio src="/content/dam/hero-aem-website/in/investors/call-recordings/HMCL-Q1-FY19.mp3" id="audioFile">
                                                    Audio is not supported.
                                                </audio>
                                                <div class="music_volume">
                                                    <div class="quarterly-clickable-container">
                                                        <div id="btnPlay"><img  class="music-pause-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_pause.png"></div>
                                                        <div id="btnPause"><img  class="music-pause-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_play.svg"></div>
                                                        
                                                        <label id="lblTime" class="label-text">00:00</label>
                                                        <input type="range" step="any" id="seekbar">
                                                        <label id="lblTimeDuration" class="label-text"></label>

                                                        <div id="btnMute"><img  class="music-volume-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_volume.svg"></div>
                                                    </div>

                                                    <div id="btnClose" data-dismiss="modal" ><img  class="music-close-img" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/music_close.svg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="d-flex align-items-center" href="/content/dam/hero-aem-website/in/investors/call-recordings/HMCL-Q1-FY19.mp3" target="_blank" download>
                                    <div class="quarterly-download-wrapper">
                                        <img class="quarterly-download-image-toolkit" src="/etc.clientlibs/hero-aem-website/clientlibs/clientlib-site/resources/images/icons/download-svg.svg">
                                    </div>
                                    <div class="single-reports-quarter-download">Download</div>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>