<sly data-sly-test.state="${request.requestPathInfo.selectors[1]}"
    data-sly-set.pageconfig="${caconfig['com.hero.aem.core.services.caconfigs.PageCaConfig']}"
    data-sly-test.parentPath="${[pageconfig.stateRootPath,state] @ join='/'}"
    data-sly-use.listUse="${'/apps/hero-aem-website/utils/getdropdownvalues.js' @ parentPath=parentPath}" data-sly-list="${listUse}">
   <li class="font-montserrat-regular font-weight-500 " value="${item.name}">
        <a href="javascript:void(0)">${item.properties.city.toLowerCase}</a>
    </li>
</sly>