<sly data-sly-set.pageconfig="${caconfig['com.hero.aem.core.services.caconfigs.PageCaConfig']}"
   data-sly-test.state="${request.requestPathInfo.selectors[1]}"
   data-sly-test.city="${request.requestPathInfo.selectors[2]}"
   data-sly-test.parentPath="${[pageconfig.dealerRootPath,'harley',state,city] @ join='/'}"
   data-sly-use.listUse="${'/apps/hero-aem-website/utils/getdropdownvalues.js' @ parentPath=parentPath}"
   data-sly-list="${listUse}">
   <!-- <li class="font-montserrat-regular font-weight-500 active" value="${item.properties.dealer_no}">
      <h3 data-sly-test="${item.properties.dealer_name}">${item.properties.dealer_name @ i18n}</h3>
      <p>${item.properties.address_1 @ i18n} ${item.properties.address_2 @ i18n} ${item.properties.address_3 @ i18n}</p>
      <a data-sly-test="${item.properties.virtual_number}"
         href="tel:${pageconfig.countryCode}${item.properties.virtual_number}">
         ${item.properties.virtual_number},
      </a>
      <a data-sly-test="${item.properties.mobile_1}" href="tel:${pageconfig.countryCode}${item.properties.mobile_1}">
         ${item.properties.mobile_1},
      </a>
      <a data-sly-test="${item.properties.mobile_2}" href="tel:${pageconfig.countryCode}${item.properties.mobile_2}">
         ${item.properties.mobile_2}
      </a>
      <p class="near-you-p" data-sly-test="${item.properties.showroom_tel_1 && item.properties.std_code}"
         data-sly-test.tel="${[item.properties.showroom_tel_1,item.properties.showroom_tel_2] @ join=', '}">Tel:
         ${pageconfig.countryCode}${item.properties.std_code} - ${tel}</p>
      <p data-sly-test="${item.properties.email_1}">${item.properties.email_1}</p>
      <p class="near-you-p" data-sly-test="${item.properties.contact_person_1}">${item.properties.contact_person_1}</p>
   </li> -->
   <div class="cust-form-group">
      <div class="custom-control custom-radio">
         <input type="radio" id="dealerLocator${itemList.count}" name="dealerLocator" class="custom-control-input" required>
         <label class="custom-control-label" for="dealerLocator${itemList.count}">
            <div class="dealer-locator">
               <h3 class="dealer-locator-label">${item.properties.dealer_name @ i18n}</h3>
               <div>
                  <span class="dealer-locator-phonenumber">
                     <sly data-sly-test="${item.properties.mobile_1}">
                        ${item.properties.mobile_1}
                     </sly>
                     <sly data-sly-test="${item.properties.mobile_2}">
                        , ${item.properties.mobile_2}
                     </sly>
                  </span>
                  <div class="dealer-locator-address">${item.properties.address_1 @ i18n} ${item.properties.address_2 @ i18n} ${item.properties.address_3 @ i18n}</div>
               </div>
            </div>
         </label>
      </div>
   </div>
</sly>